@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        <a href="/.auth/logout?post_logout_redirect_uri=/">Log out</a>
    </Authorized>
    <NotAuthorized>
        
                    <a href="/.auth/login/google">
                        <img src="/images/google-signin/1x/btn_google_signin_dark_normal_web.png" alt="Google Logon"/>
                    </a>
          
    </NotAuthorized>
</AuthorizeView>

